.background {
  background-color: black;
}

.bg-color {
  background-color: #bf9b30;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://miro.medium.com/max/416/1*SMHP1p13yfUSAZrEYBRakA.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-90 {
  min-height: 90vh;
}

.cover-10 {
  min-height: 10vh;
  background-color: #bf9b30;
}
